* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 200px;
}

.card {
  align-items: center;
  border: 2px solid grey;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  max-height: 400px;
  max-width: 205px;
}

.card p {
  padding: 5px;
  text-align: center;
  clear: right;
}

.card img {
  max-height: 300px;
  max-width: 220px;
}

/* Anime search card */
.card-grid-search {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.cardSearch {
  align-items: center;
  border: 2px solid grey;
  border-radius: 7px;
  height: 500px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-height: 600px;
  max-width: 260px;
  overflow: auto;
  padding: 10px;
}

.cardSearch img {
  border: 0.2px solid gray;
  max-height: 300px;
  max-width: 200px;
  

}

.cardSearch p {
  text-align: center;
  padding-top: 5px;
}